body{
  background-size: cover;
  background-attachment: fixed;
  font-family: "Righteous"; 
}

  
  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
  }
  
.justify {
  text-align: justify 
}

img {
  max-width:10%;
}

hr.style13 {
  width:400px;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #576980 inset;
}

.msgpos
{
	position: absolute;
	top: 12%;
	right: 3%;
}